/* Paul Irish reset */
html {
  box-sizing: border-box;
}
  
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/*BODY*/
body {
  background-color: #ebd8b7;
}
/*HEADER*/

/*Navbar*/
#navbarSupportedContent {
  justify-content: flex-end;
}
.navbar-dark .navbar-brand {
  font-family: 'Parisienne', cursive;
  font-size: 42px;
  font-weight: 400;
  color: #ebd8b7;
  margin-left: 30px;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(235, 216, 183, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-toggler {
  border: none;
}
.navbar-nav .nav-item .nav-link {
  color: #92967d;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-right: 30px;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ebd8b7;
}
/*Header-banner*/
.header-banner {
  background-image:
  radial-gradient(
    ellipse at center,rgba(248, 245, 245, 0), rgb(12, 10, 9)
  ),
  url('./images/header-banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;    
  height: 550px;  
  display: flex;
  align-items: flex-end;
  justify-content:space-evenly;
}
.banner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #92967d;
}

/*MAIN*/
.main {
  margin: 5%;
}


#Layer_1 {
  fill: #92967d;
  height: 50px;
  width: 250px;
}
.box {
  display: grid;
  width: 100%;
  grid-template-columns: 120px 120px 120px;
  align-items: center;
  justify-content: space-between;
}
.box :svg {
  align-self: center;
}

h5 {
  font-family: 'Parisienne', cursive;
  font-weight: bolder;
  font-size: 28px;
  grid-area: heading;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

p {
  text-align: center;
}
p#studio-text {
  margin-top: 30px;
}
/*Studio Image Slider*/
.slider {
  height: 200px;
  margin: auto;
  position: relative;
  width: 80%;
  display: grid;
  place-items: center;
}
.slide-track {
  display: flex;
  width: 2000px;
  animation: scroll 80s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes scroll {
  0% {
    trasform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img {
  width: 100%;
  transition: 0.5s;
}
img:hover {
  transform: translateZ(20px);
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(146, 150, 125, 1) 0%, rgba(255, 255, 255, 0) 100%);
  /*border-radius: 100% 0% 0% 100% / 50% 100% 0% 50%;*/
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 1;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*FOOTER*/
.footer {
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card-title {
  font-family: 'Parisienne', cursive;
  font-weight: bolder;
  font-size: 20px;
  grid-area: heading;
  text-align: center;
  margin: 0;
  padding: 5px;
}
.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.card {
  width: 300px;
  height: 150px;
  background-color: #92967d;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
/*.card {
  background: linear-gradient(to rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}*/
.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-top: 40px;
}